apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST

  - name: Zabbix-Alexander
    type: alexanderzobnin-zabbix-datasource
    access: proxy
    url: http://zabbix-frontend:8080/api_jsonrpc.php
    basicAuth: false
    isDefault: false
    editable: true
    jsonData:
      username: Admin
      password: Heslo-123456
      trendCache: true
      trendFrom: 7d
      cacheTTL: 1h
